@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap");
.Footer-Frame {
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 0;

  background-color: #000;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#footer-text {
  display: flex;
  flex-flow: column nowrap;
}

.Footer-Logo {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.6rem;
  color: #fff;
}
