@import url("https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap");
@import "./_variables";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@500&display=swap");

#container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  #navibar {
    height: auto;
  }

  .front-container {
    @media screen and (max-width: 700px) {
      .front-texts {
        p:nth-child(1) {
          font-size: 1rem !important;
        }
        p:nth-child(2) {
          font-size: 2rem !important;
        }
        p:nth-child(3) {
          font-size: 1rem !important;
        }
        .button-frame {
          .front-button {
            p {
              font-size: 0.8rem !important;
            }
          }
        }
      }
    }
    min-height: 100vh;
    height: 100%;
    position: relative;

    .Video-Section {
      height: 100%;
      overflow: hidden;

      video {
        width: 100%;
        height: inherit;
        object-fit: fill;
        opacity: 1;
        position: absolute;

        z-index: -10;
      }
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    div.front-texts {
      z-index: 1;
      padding: 3%;
      padding-left: 5%;
      display: flex;
      flex-direction: column;
      gap: 2vh;
      p:nth-child(1) {
        order: 1;
        font-size: 2rem;
        margin: 0;
        font-family: "Noto Sans KR", sans-serif;
        letter-spacing: 0.2rem;
        color: #47b8d48f;
      }
      p:nth-child(2) {
        order: 2;
        color: red;
        margin: 0;
        font-size: 3rem;
        font-family: "Noto Sans KR", sans-serif;
        color: rgb(255, 255, 255);
        letter-spacing: 0.2rem;
      }
      p:nth-child(3) {
        order: 3;
        color: blue;
        margin: 0;
        font-size: 2rem;
        font-family: "Noto Sans KR", sans-serif;
        color: rgba(255, 255, 255, 0.514);
        letter-spacing: 0.1rem;
      }
      .button-frame {
        display: flex;
        flex-flow: row nowrap;
        flex: 0 1;
        justify-content: flex-start;
        order: 4;
        ㄴ .front-button {
          p {
            display: inline;
            color: #90ffeb;
            font-family: "Noto Sans KR", sans-serif;
            font-size: 2rem;
            text-decoration: underline;
            transition: 0.5s;

            &:hover {
              font-size: 2.5rem;
              transition: 0.5s;
              transition-timing-function: ease-out;
              text-decoration: underline;
              text-decoration-color: rgb(255, 255, 255);
            }
          }
        }
      }
    }
  }
}
